body {
  font-family: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}
.pop_up_container {
}
.pop_up {
  display: none;
  width: 25%;
  border-radius: 10px 10px 0px 10px;
  padding-top: 4px;
  background-color: #90185f;
  margin: 0 auto;
}
.pop_up_1 {
  display: block;
}
.pop_up > li {
  width: 90%;
  padding: 15px;
  border-radius: 10px 10px 0px 0px;
  color: #ffff;
  border-bottom: 1px solid #ffff;
}
.pop_up > li:last-child {
  border: none;
}
.pop_up > li > a {
  width: 100%;
  color: #ffffff;
  background: url(../arrow.png) center right no-repeat;
  background-position-x: calc(100% - 1px);
  display: inline-block;
  word-wrap: break-word;
}

.pop_up > li:first-child {
  width: 88%;
  margin: 0 auto;
  background-color: white;
  color: #90185f;
}

.pop_up_cnt_qstn::after {
  padding: 0;
  content: "\003F";
  color: #90185f;
  font-size: 22px;
  font-weight: 700;
  margin-left: 107px;
}
/* Button area */
.pop_content {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  padding: 20px 22px;
  font-size: 35px;
  font-weight: 700;
  color: #ffff;
  background-color: #90185f;
  /* border-radius: 0px 0px 10px 10px; */
  border-radius: 10px;
}
.pop_content_border {
  border-radius: 0px 0px 10px 10px;
  margin-left: 740px;
}

.pop_up_btn::after {
  content: "\003F";
  margin-left: -3px;
}
.pop_down_btn::after {
  content: "X";
}
.pop_up_cnt span,
.pop_up_cnt_qstn span {
  display: inline-block;
  max-width: 250px;
}
