.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}
* {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e9e5;
}
.read-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  margin-bottom: 30px;
}
.read-more img {
  width: 10px;
  margin-left: 10px;
  height: 15px;
  /* text-align: center;
  margin-bottom: -4px; */
}
.career-opportunities {
  border: 1px solid #cbcaca;
  /* background-color: #f1f1f1; */
  margin-top: 40px;
  padding: 50px;
}
.content-section {
  display: flex;
  align-items: center;
}
.c-o-image {
  text-align: center;
}
.c-o-image-1 {
  width: 50%;
}
.c-o-content {
  font-weight: bold;
  font-size: 16px;
  line-height: 35px;
  color: #494949;
  width: 100%;
}
.c-o-heading {
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
}
.c-o-heading span:last-child {
  font-weight: bold;
}
/* .float-teller-opportunities {
  border: 1px solid #cbcaca;
  background-color: #f1f1f1;
  margin-top: 50px;
  padding: 0 88px;
} */
.background {
  border: 1px solid #cbcaca;
  /* background-color: #f1f1f1; */
  margin-top: 50px;
  padding: 0 88px;
  line-height: 18px;
}
h3 {
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 1px solid #cbcaca;
  padding-bottom: 5px;
}
.posted-date {
  font-size: 10px;
}
.posted-content {
  font-size: 12px;
}
a {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
.conclusion {
  line-height: 25px;
  font-size: 13px;
}
.conclusion div {
  margin: 10px;
  margin-top: 10px;
}
button {
  width: 18%;
  border: none;
  padding: 10px;
  background-color: #ea911e;
  border-radius: 10px;
  color: white;
  outline: none;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  body {
    background-color: lightblue;
  }
  .background {
    padding: 0px 25px;
  }
  h3 {
    text-align: center;
    line-height: 25px;
  }
  .read-more {
    justify-content: center;
  }
  .content-section {
    display: block;
  }

  .c-o-image {
  }

  .float-teller-opportunities {
    line-height: 20px;
    font-size: 20px;
  }

  .float-teller-opportunities h3 {
    text-align: center;

    line-height: 30px;
  }
  .posted-date {
    text-align: center;
    font-size: 10px;
  }
  .posted-content {
    font-size: 15px;
  }
  .posted-date .posted-content {
    font-size: 16px;
    line-height: 25px;
  }

  .part_time_teller {
    line-height: 25px;
  }
  /* .branch_manager {

  } */

  .conclusion {
    font-size: 15px;
  }

  button {
    width: 50%;
  }

  .btn {
    text-align: center;
  }

  @media only screen and (max-width: 1014px) {
    width: 50%;
  }
}
